<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ramjikisena</title>
    <link rel="stylesheet" href="/stylesheets/admin.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
</head>

<body>
    <div class="main">
        <nav>
            <div class="left">
                <img src="https://cdn-icons-png.flaticon.com/512/7068/7068006.png" alt="" />
                <h1>Admin Panel</h1>
            </div>
            <div class="right">
                <a id="home-btn" href="/admin/dashboard">Home</a>
                <i class="ri-menu-line"></i>
            </div>

            <div id="slidebar">
                <div id="close">
                    <i class="ri-close-fill" style="color: white;"></i>
                </div>

                <div id="text">
                    <a href="/admin/allUsers">View users</a>
                    <a href="/register">Create user</a>
                    <a href="/">Login user</a>
                    <a href="/admin/downloadUsers">Download user info</a>
                    <a href="/contact">Contact</a>
                    <a href="/gallery">Gallery</a>
                </div>
            </div>
        </nav>

        <div class="dashboard-content">
            <a>Total users : <%=userCount%></a>
            <a>Total ramnaam count : <%=totalRamnaamCount%></a>
            <a href="/admin/allUsers">View users</a>
            <a href="/register">Create user</a>
            <a href="/">Login user</a>
            <a href="/admin/downloadUsers">Download user info</a>
            <a href="/logout">Logout</a>
        </div>
        <div class="copyright">
            <h2>Copyright © 2024 www.ramjikisena.com- Developed & Maintained by I-NextEts</h2>
        </div>
    </div>

    <script>
        var flag = 1; // Initialize flag to 1

        var menubtn = document.querySelector(".ri-menu-line");
        var menupage = document.querySelector("#slidebar");

        menubtn.addEventListener("click", function () {
            if (flag === 1) {
                menupage.style.transform = "translateY(-2%)";
                flag = 0;
            } else {
                menupage.style.transform = "translateY(-200%)";
                flag = 1;
            }
        });

        var close = document.querySelector("#slidebar #close i");

        close.addEventListener("click", function () {
            menupage.style.transform = "translateY(-200%)";
            flag = 1;
        });

    </script>
</body>

</html>