<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ramjikisena</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet" />
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
</head>

<body>
  <div class="main">

    <div class="nav-1">
      <div class="marquee">
        <h1>Jayshri Gayatri Food Products Pvt. Ltd. Milk Magic</h1>
        <img id="milk-magic-icon" src="/images/milk-magic-icon.webp" alt="">
      </div>
    </div>

    <nav>
      <div id="slidebar">
        <div id="close">
          <i class="ri-close-fill" style="color: white;"></i>
        </div>

        <div id="text">
          <a href="/">Home</a>
          <a href="/about">About</a>
          <a href="/register">Register</a>
          <a href="/contact">Contact</a>
          <a href="/gallery">Gallery</a>
          <a href="" id="whatsappShare">Share via WhatsApp</a>
        </div>
      </div>

      <div class="nav-2">
        <div class="left">
          <img src="/images/ramjikisena_logo.webp" alt="">
          <a href="/">Ramji Ki Sena</a>
        </div>
        <div class="right">
          <a id="home-btn" href="/">Home</a>
          <a href="/about">About</a>
          <a href="/contact">Contact</a>
          <div id="icon">
            <i id="menu" class="ri-menu-line"></i>
          </div>
        </div>
      </div>
    </nav>

    <div class="ramji-photo">
      <img src="/images/Ayodhya Ramji Photo.webp" alt="">
    </div>

    <div class="goto-div">
      <h1>Daily Darshan & Ram naam Meditation ЁЯСЙ</h1>
      <div class="goto-div-items">
        <a href="/impTemples">ЁЯЪй Important temples of Ayodhya</a>
        <a href="/mission">ЁЯОп Our Mission </a>
        <a href="/glory">ЁЯУЦ Glory of Ram naam</a>
        <a href="/feedback">тЬНя╕П Writing experience & feedback</a>
      </div>
    </div>

    <div class="about-content">
      <h1>About us</h1>
      <hr>
      <div class=" about-img">
        <img src="/images/aboutImg1.webp" alt="">
        <span>рд╢реНрд░реА рдЪрдиреНрджреНрд░рд╢реЗрдЦрд░ рдЬреА рдорд╣рд╛рд░рд╛рдЬ</span>
      </div>

      <div class="contact-chandra">
        <span>рдирд┐рдореНрдирд╛рд▓рд┐рдЦрд┐рдд рдордВрддреНрд░ рдЬрд╛рдк рд╕реЗ рд▓рд╛рдн рдкреНрд░рд╛рдкреНрдд рдХрд░рдиреЗ рд╣реЗрддреБ рдкрд░рдорд╛рддреНрдорд╛ рдХреГрдкрд╛ рдкреНрд░рд╛рдкреНрдд
          <br>
          рд╢реНрд░реА рдЪрдиреНрджреНрд░рд╢реЗрдЦрд░ рдЬреА рдорд╣рд╛рд░рд╛рдЬ <br> рд╕реЗ рдордВрддреНрд░ рдкреНрд░рд╛рдкреНрдд рдХрд░реЗрдВ <br><a href="https://wa.me/+919584922444"> <i
              class="ri-phone-fill"></i> 9584922444</a> </span>
      </div>

      <div class="services-chandra">
        <div class="col-1 col">
          <h6> тЭЦ рд╢реНрд░реА рдкрд╛рд░реНрд╡рддреА рдкреНрд░рд╕рдиреНрдиреНрддрд╛ рдордВрддреНрд░</h6>
          <h6> тЭЦ рдирд╡рдЧреНрд░рд╣ рд╢рд╛рдВрддрд┐ рджреБрд░реНрднрд╛рдЧреНрдп рдирд╛рд╢рдХ рдордВрддреНрд░</h6>
          <h6> тЭЦ рдкреНрд░рднреБ рджрд░реНрд╢рди рдкрд╛рдиреЗ рдХрд╛ рдордВрддреНрд░</h6>
          <h6> тЭЦ рд╕рдорд╛рдЬ рд╕реЗрд╡рд╛ рдХрд╛ рдордВрддреНрд░</h6>
          <h6> тЭЦ рд╢реНрд░реА рд░рд╛рдо рдХреГрдкрд╛ рдкрд╛рдиреЗ рдХрд╛ рдордВрддреНрд░ </h6>
          <h6> тЭЦ рднрд╛рдЧреНрдп рдкрд░рд┐рд╡рд░реНрддрди рдХрд░рдиреЗ рдХрд╛ рдордВрддреНрд░</h6>
          <h6> тЭЦ рдХрд╛рд░реНрдп рд╕рд┐рджреНрдзрд┐ рдХрд╛ рдордВрддреНрд░</h6>
        </div>
        <div class="col-2 col">
          <h6>тЭЦ рд╢рддреНрд░реБ рдирд╛рд╢рдХ рдордВрддреНрд░ </h6>
          <h6>тЭЦ рд╕реНрддреНрд░рд┐рдпреЛрдВ рдХреЛ рд▓рд╛рдн рдХрд╛ рдордВрддреНрд░</h6>
          <h6>тЭЦ рд░рд╛рдо рдХреГрдкрд╛ рд╡рд┐рд╢реЗрд╖ рдордВрддреНрд░ </h6>
          <h6>тЭЦ рдкреНрд░рд╛рдг рд╕рдВрдХрдЯ рдЯрд╛рд▓рдиреЗ рдХрд╛ рдордВрддреНрд░ </h6>
          <h6>тЭЦ рд╢рддреНрд░реБ рдХреЛ рднрдпрд╣рд┐рдд рдХрд░рдиреЗ рдХрд╛ рдордВрддреНрд░</h6>
          <h6>тЭЦ рд╕рдорд╕реНрдд рд╡рд┐рдкрддреНрддрд┐рдпрд╛рдВ рджреВрд░ рдХрд░рдиреЗ рдХрд╛ рдордВрддреНрд░</h6>
          <h6>тЭЦ рд╕реБрдЦ рд╕рдореГрджреНрдзрд┐ рджрд╛рдпрдХ рдордВрддреНрд░ </h6>
        </div>
        <div class="col-3 col">
          <h6>тЭЦ рд╣рдиреБрдорд╛рди рдЪрд╛рд▓реАрд╕рд╛ рд╡рд┐рдзрд┐ рд╕рд╣рд┐рдд </h6>
          <h6>тЭЦ рд╕реГрд╖реНрдЯрд┐ рдЕрдиреБрдХреВрд▓ рдордВрддреНрд░ </h6>
          <h6>тЭЦ рджреЗрд╡ рдЕрдиреБрдХреВрд▓ рдХрд░рдиреЗ рдХрд╛ рдордВрддреНрд░ </h6>
          <h6>тЭЦ рджреБрдЦ рддрдерд╛ рдкрд╛рдк рдирд╛рд╢рдХ рдордВрддреНрд░ </h6>
          <h6>тЭЦ рд╕реНрд╡рдкреНрди рдХреЗ рднрдп рджреВрд░ рдХрд░рдиреЗ рдХрд╛ рдордВрддреНрд░ </h6>
          <h6>тЭЦ рд╢реНрд░реЛрддрд╛ рдореБрдХреНрдд рдХрд░рдиреЗ рдХрд╛ рдордВрддреНрд░ </h6>
          <h6>тЭЦ рд╡рд┐рд╡рд╛рд╣ рддрдерд╛ рдиреМрдХрд░реА рдзрдВрдзрд╛ рдХреЗ рд▓рд┐рдП рдордВрддреНрд░ </h6>
        </div>
        <div class="col-4 col">
          <h6>тЭЦ рд╕реМрднрд╛рдЧреНрдп рдПрд╡ рд╕реБрдЦ рд╕рдореГрджреНрдзрд┐ рдХреЗ рд▓рд┐рдП рдордВрддреНрд░ </h6>
          <h6>тЭЦ рдкреБрддреНрд░ рд╕реБрдЦ рдХреЗ рд▓рд┐рдП рдордВрддреНрд░ </h6>
          <h6>тЭЦ рдХрдиреНрдпрд╛ рдХреА рд╢рд╛рджреА рдХреЗ рд▓рд┐рдП рдордВрддреНрд░ </h6>
          <h6>тЭЦ рд╕реНрдорд░рдг рд╢рдХреНрддрд┐ рдмрдврд╝рд╛рдиреЗ рдХреЗ рд▓рд┐рдП рдордВрддреНрд░ </h6>
          <h6>тЭЦ рд░реЛрдЬрдЧрд╛рд░ рдкрд╛рдиреЗ рдХрд╛ рдордВрддреНрд░ </h6>
          <h6>тЭЦ рджрд╛рд░рд┐рджреНрд░рддрд╛ рдирд╛рд╢рдХ рдордВрддреНрд░ </h6>
          <h6>тЭЦ рд╡рд┐рд╖ рдирд╛рд╢рдХ рдордВрддреНрд░ </h6>
        </div>

        <div class="col-5 col">
          <h6>тЭЦ рд╕реБрдЦ рд╕рдореГрджреНрдзрд┐ рдкрд╛рдиреЗ рдХрд╛ рдордВрддреНрд░ </h6>
          <h6>тЭЦ рд╢рддреНрд░реБ рдХреЛ рдорд┐рддреНрд░ рдмрдирд╛рдиреЗ рдХрд╛ рдордВрддреНрд░ </h6>
          <h6>тЭЦ рдкреНрд░реЗрдо рдмрдврд╝рд╛рдиреЗ рдХрд╛ рдордВрддреНрд░ </h6>
          <h6>тЭЦ рдХрд╛рд░реНрдп рд╕рд┐рджреНрдзрд┐ рдХрд╛ рдордВрддреНрд░ </h6>
          <h6>тЭЦ рдпрд╛рддреНрд░рд╛ рдХреА рд╕рдлрд▓рддрд╛ рдХрд╛ рдордВрддреНрд░ </h6>
          <h6>тЭЦ рдЙрдкрджреНрд░рд╡ рд╢рд╛рдВрдд рдХрд░рдиреЗ рдХрд╛ рдордВрддреНрд░ </h6>
          <h6>тЭЦ рд╕рд┐рджреНрдзрд┐ рдХрд╛рд░рдХ рдордВрддреНрд░ </h6>
        </div>

        <div class="col-6 col">
          <h6>тЭЦ рдЙрддреНрд╕рд╡ рдХрд░рдгреЗ рдХрд╛ рдордВрддреНрд░ </h6>
          <h6>тЭЦ рдореЛрд╣рдиреА рдордВрддреНрд░ </h6>
          <h6>тЭЦ рдзрди рдкреНрд░рд╛рдкреНрддрд┐ рдХрд╛ рдордВрддреНрд░ </h6>
          <h6>тЭЦ рдЙрддреНрд╕рд╡ рдХрд╛рд░рд╡рд╛рдиреЗ рдХрд╛ рдордВрддреНрд░ </h6>
          <h6>тЭЦ рд╢рддреНрд░реБ рдХреЛ рдкрд░рд╛рд╕реНрдд рдХрд░рдиреЗ рдХрд╛ рдордВрддреНрд░ </h6>
          <h6>тЭЦ рдордиреБрд╖реНрдп рдХреА рд╢реБрджреНрдзрд┐ рдХрд╛ рдордВрддреНрд░ </h6>
          <h6>тЭЦ рдЕрдиреБрднреВрддрд┐ рдХрд╛ рдордВрддреНрд░ </h6>
        </div>

        <div class="col-7 col">
          <h6>тЭЦ рд╣рдиреБрдордд рдкреНрд░рд╕рдиреНрди рдХрд╛ рдордВрддреНрд░ </h6>
          <h6>тЭЦ рдореЛрдХреНрд╖ рдкреНрд░рджрд╛рдпрдХ рдордВрддреНрд░ </h6>
          <h6>тЭЦ рд╢реНрд░реА рдЬрд╛рдирдХреА рдХреА рдкреНрд░рд╕рдиреНрдиреНрддрд╛ рдХрд╛ рдордВрддреНрд░ </h6>
          <h6>тЭЦ рд╢рд░реАрд░ рд╕реНрд╡рд╕реНрде рд░рдЦрдиреЗ рдХрд╛ рдордВрддреНрд░ </h6>
          <h6>тЭЦ рдЬреНрд╡рд╛рд░ рдЙрддрд╛рд░рдиреЗ рдХрд╛ рдордВрддреНрд░ </h6>
          <h6>тЭЦ рд╕рд╛рдорд╛рдЬрд┐рдХ рд╕реБрдЦ рдХрд╛ рдордВрддреНрд░ </h6>
          <h6>тЭЦ рдЕрдВрддрд░рдорди рдЬрд╛рдЧреГрдд рдХрд░рдиреЗ рдХрд╛ рдордВрддреНрд░ </h6>
        </div>

        <div class="col-8 col">
          <h6>тЭЦ рднрд╛рдЧреНрдп рдЬрдЧрд╛рдиреЗ рдХрд╛ рдордВрддреНрд░ </h6>
          <h6>тЭЦ рд░реЛрдЧ рдорд┐рдЯрд╛рдиреЗ рдХрд╛ рд░рд╛рдо рдордВрддреНрд░ </h6>
          <h6>тЭЦ рдкрд░рд┐рд╡рд╛рд░ рдкреНрд░реЗрдо рдмрдврд╝рд╛рдиреЗ рдХрд╛ рдордВрддреНрд░ </h6>
          <h6>тЭЦ рд╕реНрд╡рд░реВрдк рд╢реНрд░реА рд░рд╛рдо рдордВрддреНрд░ </h6>
          <h6>тЭЦ рдХрд╛рд░реНрдп рд╕рд┐рджреНрдзрд┐ рдХрд╛ рдордВрддреНрд░ </h6>
          <h6>тЭЦ рд╡рд╢реАрдХрд░рдг рдХрд╛ рдордВрддреНрд░ </h6>
          <h6>тЭЦ рд╕рдХрд▓ рдордиреЛрд░рде рд╕рд┐рджреНрдзрд┐ рдордВрддреНрд░ </h6>
        </div>

        <div class="col-9 col">
          <h6>тЭЦ рд╕рднрд╛ рдореЗрдВ рд╕рдореНрдорд╛рди рдкрд╛рдиреЗ рдХрд╛ рдордВрддреНрд░ </h6>
          <h6>тЭЦ рдирд┐рдВрджрд╛ рд░реЛрдХрдиреЗ рдХрд╛ рдордВрддреНрд░ </h6>
          <h6>тЭЦ рд╕рдВрд╢рдп рдирд┐рд╡рд╛рд░рдг рдордВрддреНрд░</h6>
          <h6>тЭЦ рд╢реНрд░реА рдкрд╛рд░реНрд╡рддреА рдкреНрд░рд╕рдиреНрди рдордВрддреНрд░ </h6>
          <h6>тЭЦ рд╡рд┐рд╢ рдирд╛рд╢рдХ рдордВрддреНрд░ </h6>
          <h6>тЭЦ рдорд╛рд╕рд┐рдХ рдзрд░реНрдо рддрдерд╛ рдкреАрдбрд╝рд╛ рд╕реНрддрдореНрднрди рдордВрддреНрд░</h6>
          <h6>тЭЦ рддрддреНрд╡ рдЬреНрдЮрд╛рди рдкрд╛рдиреЗ рдХрд╛ рдордВрддреНрд░</h6>
        </div>

        <div class="col-10 col">
          <h6>тЭЦ рдШрд╛рд╡ рдПрд╡ рдкреАрдбрд╝рд╛ рдирд╛рд╢рдХ рдордВрддреНрд░</h6>
          <h6>тЭЦ рдореЛрдЪ рдирд╛рд╢рдХ рдордВрддреНрд░ </h6>
          <h6>тЭЦ рдЖрдб рд╡реГрджреНрдзрд┐ рдирд╛рд╢рдХ рдордВрддреНрд░ </h6>
          <h6>тЭЦ рд╕рд░реНрд╡реЛрдкрд░реА рдордВрддреНрд░ </h6>
          <h6>тЭЦ рд╢реНрд░реА рд░рд╛рдо рдкрдВрдЪрджрд╢реА рдпрдВрддреНрд░ </h6>
          <h6>тЭЦ рд░рд╛рдо рдЪрд╛рд▓реАрд╕рд╛ рд╡рд┐рдзрд┐ рд╕рд╣рд┐рдд </h6>
          <h6>тЭЦ рд╣рдиреБрдорд╛рди рдЪрд╛рд▓реАрд╕рд╛ рд╡рд┐рдзрд┐ рд╕рд╣рд┐рдд </h6>
        </div>

      </div>

      <div class="about-sponsor">

        <div class="left">

          <h2>Sponsored By :</h2>
          <h6>Jayshri Gayatri Food Products Pvt Ltd.</h6>

          <div class="sponsor-name">
            <h6> Milk Magic </h6>
            <img id="milk-magic-icon" src="/images/milk-magic-icon.webp" alt="">
          </div>

        </div>

        <div class="right">
          <img src="/images/milk-magic-icon.webp" alt="">
        </div>

      </div>
    </div>

    <footer>
      <a href="https://www.facebook.com/chandrashekhar.singh.104"><i class="ri-facebook-fill"></i> Facebook</a>

      <a href="https://www.youtube.com/@GandhialayaVicharSevaSangh"><i class="ri-youtube-fill"></i> Youtube</a>
    </footer>
    <div class="nav-1 footer-marquee">
      <div class="marquee">
        <h1>Jayshri Gayatri Food Products Pvt. Ltd. Milk Magic</h1>
        <img id="milk-magic-icon" src="/images/milk-magic-icon.webp" alt="">
      </div>
    </div>

    <!-- <div class="copyright">
        <h2>Copyright ┬й 2024 www.ramjikisena.com- Developed & Maintained by I-NextEts</h2>
      </div> -->
  </div>

  <!-- Google translator JS code starts -->
  <script type="text/javascript"
    src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

  <script type="text/javascript">
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({
        pageLanguage: "en"
      }, 'google_translate_element');
    }
    const languageChanger = () => {
      var language = document.getElementById("google_translate_element").value;
      var selectField = document.querySelector("#google_translate_element select");
      for (var i = 0; i < selectField.children.length; i++) {
        var option = selectField.children[i];
        if (option.value == language) {
          selectField.selectedIndex = i;
          selectField.dispatchEvent(new Event('change'));
          break;
        }
      }
    }
  </script>
  <!-- Google translator JS code ends -->

  <script src="/javascripts/navbar.js"></script>
  <script src="/javascripts/inviteFriends.js"></script>

</body>

</html>