<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ramjikisena</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet" />
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
</head>

<body>
  <div class="main">


    <div class="nav-1">
      <div class="marquee">
        <h1>Jayshri Gayatri Food Products Pvt. Ltd. Milk Magic</h1>
        <img id="milk-magic-icon" src="/images/milk-magic-icon.webp" alt="">
      </div>
    </div>

    <nav>
      <div id="slidebar">
        <div id="close">
          <i class="ri-close-fill" style="color: white;"></i>
        </div>

        <div id="text">
          <a href="/">Home</a>
          <a href="/about">About</a>
          <a href="/register">Register</a>
          <a href="/contact">Contact</a>
          <a href="/gallery">Gallery</a>
          <a href="" id="whatsappShare">Share via WhatsApp</a>
        </div>
      </div>

      <div class="nav-2">
        <div class="left">
          <img src="/images/ramjikisena_logo.webp" alt="">
          <a href="/">Ramji Ki Sena</a>
        </div>
        <div class="right">
          <a id="home-btn" href="/">Home</a>
          <a href="/about">About</a>
          <a href="/contact">Contact</a>
          <div id="icon">
            <i id="menu" class="ri-menu-line"></i>
          </div>
        </div>
      </div>
    </nav>

    <div class="ramji-photo">
      <img src="/images/Ayodhya Ramji Photo.webp" alt="">
    </div>

    <div class="goto-div">
      <h1>Daily Darshan & Ram naam Meditation 👉</h1>
      <div class="goto-div-items">
        <a href="/impTemples">🚩 Important temples of Ayodhya</a>
        <a href="/mission">🎯 Our Mission </a>
        <a href="/glory">📖 Glory of Ram naam</a>
        <a href="/feedback">✍️ Writing experience & feedback</a>
      </div>
    </div>

    <div class="contact-content">
      <h1>Contact Us</h1>
      <p>We thank all of you devotees for staying connected with Ramji Ki Sena. By the great grace of Lord Ram ji,
        we got the company of all of you. The main objective of the Ramji Ki Sena website is to get the name of
        Shri Ram propogate and written. The founder of this website is Mr. Chandra Shekhar . Ramji Ki Sena
        has always been striving to get the youth of today and the respected elders to chant the name of Ram. We
        have the Online website www.ramjikisena.com where devotees can easily write Ram name.
      </p>
      <h2>
        <br>
        For any queries and questions, please contact:
        <br><br>
        DIRECTOR & FOUNDER <br>
        Shri Chandra Shekhar Ji Maharaj <br>
        Cell no : +91-9584922444 <br>
        Email id: ramjikisena@gmail.com
      </h2>
    </div>


    <footer>
      <a href="https://www.facebook.com/chandrashekhar.singh.104"><i class="ri-facebook-fill"></i> Facebook</a>

      <a href="https://www.youtube.com/@GandhialayaVicharSevaSangh"><i class="ri-youtube-fill"></i> Youtube</a>
    </footer>
    <div class="nav-1 footer-marquee">
      <div class="marquee">
        <h1>Jayshri Gayatri Food Products Pvt. Ltd. Milk Magic</h1>
        <img id="milk-magic-icon" src="/images/milk-magic-icon.webp" alt="">
      </div>
    </div>

    <!-- <div class="copyright">
        <h2>Copyright © 2024 www.ramjikisena.com- Developed & Maintained by I-NextEts</h2>
      </div> -->
  </div>

  <!-- Google translator JS code starts -->
  <script type="text/javascript"
    src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

  <script type="text/javascript">
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({
        pageLanguage: "en"
      }, 'google_translate_element');
    }
    const languageChanger = () => {
      var language = document.getElementById("google_translate_element").value;
      var selectField = document.querySelector("#google_translate_element select");
      for (var i = 0; i < selectField.children.length; i++) {
        var option = selectField.children[i];
        if (option.value == language) {
          selectField.selectedIndex = i;
          selectField.dispatchEvent(new Event('change'));
          break;
        }
      }
    }
  </script>
  <!-- Google translator JS code ends -->

  <script src="/javascripts/navbar.js"></script>
  <script src="/javascripts/inviteFriends.js"></script>

</body>

</html>