<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ramjikisena</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
</head>

<body>
    <div class="main">
       

      <div class="nav-1">
        <div class="marquee">
          <h1>Jayshri Gayatri Food Products Pvt. Ltd. Milk Magic</h1>
          <img id="milk-magic-icon"  src="/images/milk-magic-icon.webp" alt="">
        </div>
      </div>

        <nav>
      <div id="slidebar">
        <div id="close">
          <i class="ri-close-fill" style="color: white;"></i>
        </div>

        <div id="text">
          <a href="/">Home</a>
          <a href="/about">About</a>
          <a href="/register">Register</a>
          <a href="/contact">Contact</a>
          <a href="/gallery">Gallery</a>
          <a href="" id="whatsappShare">Share via WhatsApp</a>
        </div>
      </div>

      <div class="nav-2">
        <div class="left">
          <img src="/images/ramjikisena_logo.webp" alt="">
          <a href="/">Ramji Ki Sena</a>
        </div>
        <div class="right">
          <a id="home-btn" href="/">Home</a>
          <a href="/about">About</a>
          <a href="/contact">Contact</a>
          <div id="icon">
            <i id="menu" class="ri-menu-line"></i>
          </div>
        </div>
      </div>
    </nav>

    <div class="ramji-photo">  
      <img src="/images/Ayodhya Ramji Photo.webp" alt="">
    </div>

          <div class="goto-div">
            <h1>Daily Darshan & Ram naam Meditation 👉</h1>
            <div class="goto-div-items">
              <a href="/impTemples">🚩 Important temples of Ayodhya</a>
              <a href="/mission">🎯 Our Mission </a>
              <a href="/glory">📖 Glory of Ram naam</a>
              <a href="/feedback">✍️ Writing experience & feedback</a>
            </div>
          </div>

          <div class="gallery-content">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                    <img src="/images/gallery-1.webp" alt="" style="object-position: top;">
                    </div>
                    <div class="swiper-slide">
                        <img src="/images/aboutImg1.webp" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/Ayodhya Ramji Photo.webp" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="/images/ramji-slider-1.webp" alt="">
                                </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
       

        <footer>
          <a href="https://www.facebook.com/chandrashekhar.singh.104"><i class="ri-facebook-fill"></i> Facebook</a>    
          <a href="https://www.youtube.com/@GandhialayaVicharSevaSangh"><i class="ri-youtube-fill"></i> Youtube</a>
        </footer>

        <div class="nav-1 footer-marquee">
      <div class="marquee">
        <h1>Jayshri Gayatri Food Products Pvt. Ltd. Milk Magic</h1>
        <img id="milk-magic-icon" src="/images/milk-magic-icon.webp" alt="">
      </div>
    </div>

    <!-- <div class="copyright">
        <h2>Copyright © 2024 www.ramjikisena.com- Developed & Maintained by I-NextEts</h2>
      </div> -->
    </div>

    <!-- Swiper js cdn -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
        var swiper = new Swiper(".mySwiper", {
            spaceBetween: 30,
            centeredSlides: true,
            autoplay: {
                delay: 2500,
                disableOnInteraction: false,
            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            grabCursor:true,
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });
    </script>

     <!-- Google translator JS code starts -->
  <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
  
  <script type="text/javascript">
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({
        pageLanguage: "en"
      }, 'google_translate_element');
    }
    const languageChanger = () => {
      var language = document.getElementById("google_translate_element").value;
      var selectField = document.querySelector("#google_translate_element select");
      for (var i = 0; i < selectField.children.length; i++) {
        var option = selectField.children[i];
        if (option.value == language) {
          selectField.selectedIndex = i;
          selectField.dispatchEvent(new Event('change'));
          break;
        }
      }
    }
  </script>
  <!-- Google translator JS code ends -->
  
  <script src="/javascripts/navbar.js"></script>
  <script src="/javascripts/inviteFriends.js"></script>

</body>

</html>