<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ramjikisena</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  </head>

  <body>
    <div class="main">
      

      <div class="nav-1">
        <div class="marquee">
          <h1>Jayshri Gayatri Food Products Pvt. Ltd. Milk Magic</h1>
          <img id="milk-magic-icon"  src="/images/milk-magic-icon.webp" alt="">
        </div>
      </div>

      <nav>
      <div id="slidebar">
        <div id="close">
          <i class="ri-close-fill" style="color: white;"></i>
        </div>

        <div id="text">
          <a href="/">Home</a>
          <a href="/about">About</a>
          <a href="/register">Register</a>
          <a href="/contact">Contact</a>
          <a href="/gallery">Gallery</a>
          <a href="" id="whatsappShare">Share via WhatsApp</a>
        </div>
      </div>

      <div class="nav-2">
        <div class="left">
          <img src="/images/ramjikisena_logo.webp" alt="">
          <a href="/">Ramji Ki Sena</a>
        </div>
        <div class="right">
          <a id="home-btn" href="/">Home</a>
          <a href="/about">About</a>
          <a href="/contact">Contact</a>
          <div id="icon">
            <i id="menu" class="ri-menu-line"></i>
          </div>
        </div>
      </div>
    </nav>

    <div class="ramji-photo">  
      <img src="/images/Ayodhya Ramji Photo.webp" alt="">
    </div>

      <div class="goto-div">
        <h1>Daily Darshan & Ram naam Meditation 👉</h1>
        <div class="goto-div-items">
          <a href="/impTemples">🚩 Important temples of Ayodhya</a>
          <a href="/mission">🎯 Our Mission </a>
          <a href="/glory">📖 Glory of Ram naam</a>
          <a href="/feedback">✍️ Writing experience & feedback</a>
        </div>
      </div>

      <div class="impTemples-content">
        <h1>Major Temples of Ayodhya</h1>

        <h4>1. Saryu River</h4>
        <h4>2. Ram ki Paidi</h4>
        <h4>3. Nageshwarnath Temple</h4>
        <h4>4. Kaleram Ji</h4>
        <h4>5. Tulsi Memorial</h4>
        <h4>6. Shri Janaki Palace</h4>
        <h4>7. Shri Valmiki Ramayan Temple(Luv Kush Temple)</h4>
        <h4>8. Hanuman Bagh</h4>
        <h4>9. Janaki Vallabh</h4>
        <h4>10. Choti Devkali Temple</h4>
        <h4>11. Hanuman Gadhi - (Must Visit)</h4>
        <h4>12. Dasharath Mahal</h4>
        <h4>13. Shri Ramjanmbhoomi- (Must Visit)</h4>
        <h4>14. Kanak Bhavan - (Must Visit)</h4>
        <h4>15. Ram katha Museum</h4>
        <h4>16. Birla Temple</h4>
        <h4>17. Mani Parvat Temple</h4>

        <div class="text-div">
          <h2>Important tourist places in Ayodhya</h2>
          <p>
            (All the temples are within 3-4KM range from Ayodhya Railway
            Station)
          </p>
        </div>

        <div class="text-div">
          <h2>1. Ramkot</h2>
          <p>(Approx. 2KM)
<br>
            It is situated in the western direction of the city, where many
            temples and scenic places are situated. On the auspicious occasion
            of the birth anniversary of Lord Rama on Chaitramas's Ramnavami
            (March-April), a large number of pilgrims from abroad and abroad
            visit here. <br />
            <br />
            Visiting Times:- <br />
            Summers - 7.00 am to 11.00 am, 2.00 am to 6.00 pm. <br />
            Winters - 7.30 am to 10.30 am, 2.00 am to 5.00 pm.
          </p>
        </div>

        <div class="text-div">
          <h2>2. Kanak Bhavan</h2>
          <p>
            An interesting story prevails in Kanak Bhavan's that when Janaki ji
            came to Ayodhya after marriage, Queen Kaikeyi gave her Kanak-built
            palace as her first gift. It was reconstructed by Maharaja
            Vikramaditya. Later, a beautiful huge building was rebuilt by
            Maharani Vrishabhanu Kunwari of the princely state of Tikamgarh at
            the same place, which is still present. The temple located in this
            temple has divine statues of Shri Rama and Kishori ji. Visiting
            Times: 4.00 am to 9.00 pm from 8.00 am to 12.00 noon.
          </p>
        </div>
        <div class="text-div">
          <h2>3. Hanuman Gadhi</h2>
          <p>
            A temple of Lord Hanuman was built by Maharaja Vikramaditya at the
            west gate of Ramkot, which became famous by the name of Hanuman
            mound in time. This temple is reached by climbing 4 steps.
            <br /><br />
            Visiting Times :-Summers - 4.00 am to 11.00 pm. <br />
            Winter - 5 am to 10.00 pm.
          </p>
        </div>
        <div class="text-div">
          <h2>4. Nageshwarnath Temple
        </h2>
          <p>(About 4 km north-east and near Rama's Paidi) <br>
            The temple of Nageshwarnath ji is one of the major temples of Ayodhya. The legend is prevalent about the establishment of this temple established by Maharaj Kushji, son of Shri Ramchandra ji, that one day when Maharaja Kush was bathing in the river Saryu, his hands The bracelet fell into the water, which Nag-Kanya took away, and after much searching, when the Maharaja could not get the bracelet, he was angry that he set fire to the fire with the desire to dry the water,As a result of which the aquatic animals began to get distraught, then Nagaraj brought the bracelet himself and presented it to Maharaja Kush and requested him to marry his daughter. Maharaja Kush married Nag-Kanya at the place in memory of that hour Nageshwar temple was established. A huge Shiva temple is located at that place today. Every Trayodashi and Shivratri Mahaparva, a large number of pilgrims come to offer water in this temple after taking a holy bath. <br> <br>
            Visiting Times:-Summers - 5.00 am to 08.30 pm and 4.00 pm to 8.00 pm.
Winter - 6 am to 11.00 pm and 4.00 pm to 7.00 pm.
            </p>
        </div>
        <div class="text-div">
          <h2>5. Choti Devkaali Temple
        </h2>
          <p>
            This temple is situated in a street near the new valley. Small Devkali ji is considered as the village goddess of Awadh, according to the law, when Sita ji started coming to Ayodhya after marriage, then she also brought her revered goddess Girija ji along with her, Maharaj Dasaratha founded her Saptasagar. In a beautiful temple near Janki, Janaki ji was regularly worshiped in the morning in the form of the supreme Shakti Swaroopa Maa Girija. At present, there is a resplendent grand statue of Shri Devkali Ji installed here.

          </p>
        </div>
        <div class="text-div">
          <h2>6. Temple of Matagayand (Matgand) ji
        </h2>
          <p>Mattagayandji was the son of Lankadhipati Vibhishan ji, his place is in the north-east direction of the Kanak Bhawan temple. He was the head guard of the northern gate of Ramkot. There is a huge fair on the first Mars after Holi every year.
        </p>
        </div>
        <div class="text-div">
          <h2>7. Kaleram Ji Mandir
        </h2>
          <p>Kaleram Ji's temple is located in Swargadwar locality near the Nageshwarnath temple on the sacred bank of the river Saryu, where the Vikramaditya statues are installed. The ancient temple of Ayodhya has a prominent place in the temple of Kaleram. <br><br>
            Visiting Times:- <br>
            Summers - 4.30 am to 11.00 am and 4.00 pm to 9.00 pm. <br>
            Winter - 5.00 am to 11.30 am and 4.00 pm to 8.00 pm.</p>
        </div>
        <div class="text-div">
          <h2>8. Maniparvat
        </h2>
          <p>Maniparvat, situated at an altitude of 65 feet near Vidyakund, is a legend that while taking the Sanjeevani Booti from the Himalayas to Lanka, Pawansut Hanuman ji rested here by keeping the mountain-section of Sanjeevani Booti. The temple and the hammock are visible. The famous Jhulnotsava festival, which takes place in Ayodhya in the month of Shravan, begins here. Thousands of devotees are present on that occasion to see the beautiful tableau of the Lord.
            </p>
        </div>
        <div class="text-div">
          <h2>9. Lakshman Fort
        </h2>
          <p>Laxman Fort is situated on the sacred bank of Saryu. Saint Swami Youtanand Paranji Maharaj of the Rasik sect used to meditate on the Nirmali Kund, after his death, Diwan Rewan Deenbandhu Ji built a huge temple at this place, which is still in existence today.
        </p>
        </div>
        <div class="text-div">
          <h2>10. Kshireswaranath Mahadev Temple
        </h2>
          <p>Kshirsagar is located on the route from Hanuman Garhi intersection to Faizabad-Lucknow. A large pagoda of Shri Kshireshwaranath Mahadev is located near it. Built on square platforms, this temple has a huge Shivling installed.
        </p>
        </div>
        <div class="text-div">
          <h2>11. Koshlesh House
        </h2>
          <p>This temple is located in Katra locality. This temple is unique among the major temples of the Tingal branch of Ramanuji Vaishnavas located in Ayodhya.
        </p>
        </div>
        <div class="text-div">
          <h2>12. Luv-Kush Temple
        </h2>
          <p>Built in the name of Lord Rama's sons- Luv and Kush, this temple also houses the idol of Maharishi Valmiki ji along with the idol of Luv and Kush.Ambardas ji Ram Kachehari temple, Jagannath temple and Rangmahal temple near Ayodhya. Major South Indian temples are counted.
        </p>
        </div>
        <div class="text-div">
          <h2>13. Vijaraghava Temple
        </h2>
          <p>This temple is situated on the route leading to Vibhishan Kund. It was established in 1915 AD. It has a prominent place among the temples located in Ayodhya of Tingal branch of Acharya sect.
        </p>
        </div>
        <div class="text-div">
          <h2>14. Ratnasinhasan (Ratna throne)
        </h2>
          <p>This building is in the south direction of Kanak Bhavan. According to the recognition, the coronation of Lord Rama took place here.
        </p>
        </div>
        <div class="text-div">
          <h2>15. Dantadhaavan Pond
        </h2>
          <p>This temple, which comes under the Vadgal branch of Shri Vaishnav, is located on the road from Hanuman Garhi crossroads to Ramghat Tulsi memorial. According to Kivandanti, at this place, Shri Ramchandra Ji used to preach with four brothers.
        </p>
        </div>
        <div class="text-div">
          <h2>16. Valmiki Ramayana Bhavan
        </h2>
          <p>The entire Valmiki Ramayana is inscribed on marble in this building. <br>
            Visiting Times:-From sunrise to sunset</p>
        </div>
        <div class="text-div">
          <h2>17. Tulsi Memorial Building / Ayodhya Research Institute / Ram-Katha-Museum.
        </h2>
          <p>The memorial building near Tulsi Chaura has been constructed by the Uttar Pradesh government in the memory of Goswami Tulsidas. Under the auspices of the Ayodhya Research Institute, run by the building, Shravan Shukla Saptami is celebrated every year on the occasion of the birth anniversary of Goswami Tulsidas ji. Here, a huge library, library, reading room and handicrafts collection of Ram Katha-thematic materials and Tulsi for research. Great material is also available on literature. <br><br>
            Special Attraction: - <br>
            Continuous Ramlila and Katha-Vardhan program. <br>
            Daily from 6.00 pm to 9.00 pm.
                    </p>
        </div>
        <div class="text-div">
          <h2>18. Ram-Katha-Museum
        </h2>
          <p>The Ram-Katha-museum located in the Tulsi memorial building has a variety of paintings related to the Ram Katha, ivory masks, ancient scenic objects and pictures of the original materials related to the Ram-Katha stored in various museums of the country. <br>
            Weekly Holiday: -Some and Public Holiday Day.</p>
        </div>
        <div class="text-div">
          <h2>19. Gurudwara brahmkund
        </h2>
          <p>There is a small temple of Brahmadev ji near Brahmakund Ghat in which the quadrangular statue of Brahma ji is installed. It is recognized that Guru Nanak Dev ji had received visions of Chaturanan Brahma Ji here. The migration took place in the city of Ayodhya. A huge gurudwara is located near the Ghat, where Sikh pilgrims come every year to visit.
        </p>
        </div>
        <div class="text-div">
          <h2>20. Jain temple of Ayodhya
        </h2>
          <p>Ayodhya has the distinction of being the five Jain Tirthankaras. Here are the temples of the five Tirthankaras - Tirthankar Adinath Temple (Murari Tola, Swargadwar), Tirthankar Ajitnath Temple (Saptasagar, Itaua).
        </p>
        </div>
        <div class="text-div">
          <h2>21. Ram ki Paedi
        </h2>
          <p>Ayodhya Ram's Paidi, located on the banks of the river near the moment of Saryu on the national highway of Gorakhpur, is an important place of Ayodhya. Udyan and reservoir is an attraction here.
        </p>
        </div>
        <div class="text-div">
          <h2>22. Shri Hanumanbagh Temple
        </h2>
          <p>A grand place named Hanuman Bagh in the Mohalla of Ayodhya has been constructed by a Bhajananandi Sadhu. Here the statue of Hanuman ji is installed. Hanumat Satsang Bhawan Maa has also been constructed nearby.
        </p>
        </div>
        <div class="text-div">
          <h2>23. Shri Janaki Mahal Trust-
        </h2>
          <p>A grand temple, guest house, gaushala has been constructed by the Marwari Samaj of Calcutta by purchasing a large plot in Vasudevghat locality in the name of SriJanaki Mahal.
        </p>
        </div>
        <div class="text-div">
          <h2>24. Shri Birla Mandir
        </h2>
          <p>(Distance from Ayodhya Junction 1KM)
<br><br>
            A grand Birla temple built by Birla Seth is located in front of the old sub-station of Shri Ayodhya, where a life-size statue of Shri Ram Janaki has been installed.
        </p>
        </div>
        <div class="text-div">
          <h2>25. Shri Saryu River 
        </h2>
          <br> <br>
        </div>
        <h2>Jai Shri Sitaramji <br>
            Jai Shri Hanumanji Maharaj</h2>
      </div>

      <footer>
        <a href="https://www.facebook.com/chandrashekhar.singh.104"><i class="ri-facebook-fill"></i> Facebook</a>
        
        <a href="https://www.youtube.com/@GandhialayaVicharSevaSangh"><i class="ri-youtube-fill"></i> Youtube</a>
      </footer>

      <div class="nav-1 footer-marquee">
        <div class="marquee">
          <h1>Jayshri Gayatri Food Products Pvt. Ltd. Milk Magic</h1>
          <img id="milk-magic-icon" src="/images/milk-magic-icon.webp" alt="">
        </div>
      </div>
  
      <!-- <div class="copyright">
          <h2>Copyright © 2024 www.ramjikisena.com- Developed & Maintained by I-NextEts</h2>
        </div> -->
      
    </div>

     <!-- Google translator JS code starts -->
  <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
  
  <script type="text/javascript">
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({
        pageLanguage: "en"
      }, 'google_translate_element');
    }
    const languageChanger = () => {
      var language = document.getElementById("google_translate_element").value;
      var selectField = document.querySelector("#google_translate_element select");
      for (var i = 0; i < selectField.children.length; i++) {
        var option = selectField.children[i];
        if (option.value == language) {
          selectField.selectedIndex = i;
          selectField.dispatchEvent(new Event('change'));
          break;
        }
      }
    }
  </script>
  <!-- Google translator JS code ends -->
  
  <script src="/javascripts/navbar.js"></script>
  <script src="/javascripts/inviteFriends.js"></script>

  </body>
</html>
