<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ramjikisena</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet" />
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
</head>

<body>
  <div class="main">

    <div class="nav-1">
      <div class="marquee">
        <h1>Jayshri Gayatri Food Products Pvt. Ltd. Milk Magic</h1>
        <img id="milk-magic-icon" src="/images/milk-magic-icon.webp" alt="">
      </div>
    </div>

    <nav>
      <div id="slidebar">
        <div id="close">
          <i class="ri-close-fill" style="color: white;"></i>
        </div>

        <div id="text">
          <a href="/">Home</a>
          <a href="/about">About</a>
          <a href="/register">Register</a>
          <a href="/contact">Contact</a>
          <a href="/gallery">Gallery</a>
          <a href="" id="whatsappShare">Share via WhatsApp</a>
        </div>
      </div>

      <div class="nav-2">
        <div class="left">
          <img src="/images/ramjikisena_logo.webp" alt="">
          <a href="/">Ramji Ki Sena</a>
        </div>
        <div class="right">
          <a id="home-btn" href="/">Home</a>
          <a href="/about">About</a>
          <a href="/contact">Contact</a>
          <div id="icon">
            <i id="menu" class="ri-menu-line"></i>
          </div>
        </div>
      </div>
    </nav>

    <div class="ramji-photo">
      <img src="/images/Ayodhya Ramji Photo.webp" alt="">
    </div>

    <div class="goto-div">
      <h1>Daily Darshan & Ram naam Meditation ЁЯСЙ</h1>
      <div class="goto-div-items">
        <a href="/impTemples">ЁЯЪй Important temples of Ayodhya</a>
        <a href="/mission">ЁЯОп Our Mission </a>
        <a href="/glory">ЁЯУЦ Glory of Ram naam</a>
        <a href="/feedback">тЬНя╕П Writing experience & feedback</a>
      </div>
    </div>

    <div class="mission-content">
      <!-- <h1>рд░рд╛рдордЬреА рдХреА рд╕реЗрдирд╛ рдХрд╛ рдЙрджреНрджреЗрд╢реНрдп  </h1> -->
      <h1>Our Mission</h1>
      <p>рд░рд╛рдордЬреА рдХреА рд╕реЗрдирд╛ рд╡реЗрдмрд╕рд╛рдЗрдЯ рдХрд╛ рдореБрдЦреНрдп рдЙрджреНрджреЗрд╢реНрдп рд╢реНрд░реА рд░рд╛рдо рдирд╛рдо рдХрд╛ рдкреНрд░рдЪрд╛рд░ рдПрд╡рдВ рд▓реЗрдЦрди рдХрд░рд╡рд╛рдирд╛ рд╣реИред рдЖрдк рдЗрд╕ рдкрд╛рд╡рди рд╡реЗрд╡рд╕рд╛рдЗрдЯ <span
          style="font-weight: 700;">www.ramjikisena.com </span> рдореЗрдВ рдЬрд╛рдХрд░ рдЕрдкрдирд╛ рдПрдХрд╛рдЙрдВрдЯ рд░рдЬрд┐рд╕реНрдЯрд░ рдХрд░ рд╕рдХрддреЗ рд╣реИ,рдлрд┐рд░ рд░рдЬрд┐рд╕реНрдЯрд░ рдХрд░рдиреЗ
        рдХреЗ рдмрд╛рдж рдЬрдм рдЖрдк рд▓реЙрдЧрд┐рди рдХрд░реЗрдВрдЧреЗ рддреЛ рдЖрдкрдХрд╛ рдПрдХ рдЕрд▓рдЧ рдЕрдХрд╛рдЙрдВрдЯ рдмрди рдЬрд╛рдпреЗрдЧрд╛ рдФрд░ рдЖрдк рдЬрд┐рддрдиреА рдмрд╛рд░ рднреА рд░рд╛рдо рдирд╛рдо рд▓рд┐рдЦреЗрдВрдЧреЗ рд╡реЛ рд░рд╛рдо рдирд╛рдо рдСрдирд▓рд╛рдЗрди
        рд╕рдВрдЧреНрд░рд╣рд┐рдд рд╣реЛ рдЬрд╛рдпреЗрдЧрд╛ред рдЖрдк рдЬрд┐рддрдиреЗ рднреА рд░рд╛рдо рдирд╛рдо рд▓рд┐рдЦрддреЗ рд╣реИ , рд╣рдо рд╕реЗрд╡рдХ рдЙрдирдХрд╛ рдкреНрд░рд┐рдВрдЯрдЖрдЙрдЯ рдирд┐рдХрд▓рд╡рд╛ рдХреЗ рд╢реНрд░реА рдЕрдпреЛрдзреНрдпрд╛ рдЬреА рдзрд╛рдо рд▓реЗ рдЬрд╛рддреЗ
        рд╣реИред рд╕рд░реНрд╡рдкреНрд░рдердо рд╣рдо рдЖрдк рд╕рднреА рдХреЗ рджреНрд╡рд╛рд░рд╛ рд▓рд┐рдЦреЗ рд╣реБрдП рд░рд╛рдо рдирд╛рдо рдзрди рдХреА рд╕реВрдЪрд┐ рдПрд╡рдВ рд░рд╛рдо рдирд╛рдо рдзрди рдХрд╛ рдкреНрд░рд┐рдВрдЯрдЖрдЙрдЯ рд╢реНрд░реА рд╣рдиреБрдорд╛рди рдЬреА рдорд╣рд╛рд░рд╛рдЬ
        рдЬреА рдХреЛ рджрд┐рдЦрд╛рддреЗ рд╣реИ рдФрд░ рдлрд┐рд░ рд╢реНрд░реА рдХрдирдХ рднрд╡рди рдЬреЛ рдХрд┐ рд╢реНрд░реА рдЕрдпреЛрдзреНрдпрд╛ рдЬреА рдзрд╛рдо рдореЗрдВ рд╢реНрд░реА рд╕реАрддрд╛рд░рд╛рдо рдЬреА рднрдЧрд╡рд╛рдиреН рдЬреА рдХрд╛ рдкреНрд░рдзрд╛рди рдордВрджрд┐рд░ рд╣реИ
        рд╡рд╣рд╛рдВ рдЬрд╛рдХрд░ рдЖрдкрдХреЗ рджреНрд╡рд╛рд░рд╛ рд▓рд┐рдЦреЗ рд╣реБрдП рд░рд╛рдо рдирд╛рдо рдзрди рдХреЛ рдЙрдирдХреЗ рд╢реНрд░реА рдЪрд░рдгреЛрдВ рдореЗрдВ рд╕рдорд░реНрдкрд┐рдд рдХрд░рддреЗ рд╣реИред рдЙрд╕рдХреЗ рдЙрдкрд░рд╛рдВрдд рдЖрдкрдХрд╛ рд░рд╛рдо рдирд╛рдо рдзрди
        рд╢реНрд░реА рд░рд╛рдо рдмреИрдВрдХ рдЕрдпреЛрдзрдпрд╛ рдЬреА рдореЗрдВ рдЬрдорд╛ рдХрд░рд╡рд╛рддреЗ рд╣реИред рдПрдХ рдмрд╛рд░ рдлрд┐рд░ рд╕рднреА рднрдХреНрддреЛ рд╕реЗ рдЕрдиреБрд░реЛрдз рд╣реИ рдХреГрдкрдпрд╛ рдЬреНрдпрд╛рджрд╛ рд╕реЗ рдЬреНрдпрд╛рджрд╛ рд░рд╛рдо рдирд╛рдо рд▓рд┐рдЦреЗ
        рдПрд╡рдВ рдЕрдкрдиреЗ рдорд┐рддреНрд░реЛрдВ рдкрд░рд┐рдЬрдиреЛрдВ рдФрд░ рдЕрдиреНрдп рдХреЛ рдкреНрд░реЗрд░рд┐рдд рдХрд░реЗ рд░рд╛рдо рдирд╛рдо рд▓рд┐рдЦрд╡рд╛рдиреЗ рд╕реЗред рдкреНрд░рднреБ рд╢реНрд░реА рд░рд╛рдо рдЬреА рдХреА рдХреГрдкрд╛ рд╕рднреА рдкреЗ рдмрдиреА рд░рд╣реЗ рдЗрд╕реА
        рдЖрд╢рд╛ рдХреЗ рд╕рд╛рде рд╕реЗрд╡рдХ рдЯреАрдо рдХреА рд░рд╛рдо рд░рд╛рдо ред

      </p>
    </div>

    <footer>
      <a href="https://www.facebook.com/chandrashekhar.singh.104"><i class="ri-facebook-fill"></i> Facebook</a>

      <a href="https://www.youtube.com/@GandhialayaVicharSevaSangh"><i class="ri-youtube-fill"></i> Youtube</a>
    </footer>


    <div class="nav-1 footer-marquee">
      <div class="marquee">
        <h1>Jayshri Gayatri Food Products Pvt. Ltd. Milk Magic</h1>
        <img id="milk-magic-icon" src="/images/milk-magic-icon.webp" alt="">
      </div>
    </div>

    <!-- <div class="copyright">
        <h2>Copyright ┬й 2024 www.ramjikisena.com- Developed & Maintained by I-NextEts</h2>
      </div> -->

  </div>

  <!-- Google translator JS code starts -->
  <script type="text/javascript"
    src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

  <script type="text/javascript">
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({
        pageLanguage: "en"
      }, 'google_translate_element');
    }
    const languageChanger = () => {
      var language = document.getElementById("google_translate_element").value;
      var selectField = document.querySelector("#google_translate_element select");
      for (var i = 0; i < selectField.children.length; i++) {
        var option = selectField.children[i];
        if (option.value == language) {
          selectField.selectedIndex = i;
          selectField.dispatchEvent(new Event('change'));
          break;
        }
      }
    }
  </script>
  <!-- Google translator JS code ends -->

  <script src="/javascripts/navbar.js"></script>
  <script src="/javascripts/inviteFriends.js"></script>


</body>

</html>