<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ramjikisena</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet" />
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">

  <!-- <script src="https://cdn.tailwindcss.com"></script> -->
</head>

<body>
  <div class="main">

    <div class="nav-1">
      <div class="marquee">
        <h1>Jayshri Gayatri Food Products Pvt. Ltd. Milk Magic</h1>
        <img id="milk-magic-icon" src="/images/milk-magic-icon.webp" alt="">
      </div>
    </div>

    <nav>
      <div id="slidebar">
        <div id="close">
          <i class="ri-close-fill" style="color: white;"></i>
        </div>

        <div id="text">
          <a href="/">Home</a>
          <a href="/about">About</a>
          <a href="/register">Register</a>
          <a href="/contact">Contact</a>
          <a href="/gallery">Gallery</a>
          <a href="" id="whatsappShare">Share via WhatsApp</a>

        </div>
      </div>

      <div class="nav-2">
        <div class="left">
          <img src="/images/ramjikisena_logo.webp" alt="">
          <a href="/">Ramji Ki Sena</a>
        </div>
        <div class="right">
          <a id="home-btn" href="">Register</a>
          <a href="/about">About</a>
          <a href="/contact">Contact</a>
          <div id="icon">
            <i id="menu" class="ri-menu-line"></i>
          </div>
        </div>
      </div>
    </nav>


    <div class="ramji-photo">
      <img src="/images/Ayodhya Ramji Photo.webp" alt="">
    </div>

    <div class="goto-div">
      <h1>Daily Darshan & Ram naam Meditation 👉</h1>
      <div class="goto-div-items">
        <a href="/impTemples">🚩 Important temples of Ayodhya</a>
        <a href="/mission">🎯 Our Mission </a>
        <a href="/glory">📖 Glory of Ram naam</a>
        <a href="/feedback">✍️ Writing experience & feedback</a>
      </div>
    </div>


    <div class="login-page">
      <div style="height: 480px;padding: 10px 20px;" class="login-form">

        <h1>नये सदस्यता के लिए रजिस्टर करें/ New User Registration Form</h1>

        <%if(error.length>0){ %>
          <p class="flash-error"
            style="color: red;font-weight: 400;text-transform: capitalize;margin: 7px 0;text-align: center;">
            <%=error%>
          </p>
          <% } %>

        <form action="/register" method="post">
          <input type="text" name="username" placeholder="यूजर लॉगिन आइडी / User Login id" required>
          <input type="text" name="name" placeholder="पूरा नाम / Full Name" required>
          <input type="text" name="city" placeholder="शहर / City" required>
          <input type="number" name="contact" placeholder="मोबाइल नंबर.*/Mobile No.*" required>
          <input type="password" name="password" placeholder="पासवर्ड/Password" required>
          <input class="login-btn" type="submit" value="Register">
        </form>
        <a style="display: block;margin-top: 10px;padding: 8px;background-color: #5B1801;color: white;border-radius: 10px;border: 1px solid #fff;text-align: center;"
          href="/login">Go to Login</a>
      </div>
    </div>


    <footer>
      <a href="https://www.facebook.com/chandrashekhar.singh.104"><i class="ri-facebook-fill"></i> Facebook</a>
      <a href="https://www.youtube.com/@GandhialayaVicharSevaSangh"><i class="ri-youtube-fill"></i> Youtube</a>
    </footer>
    <div class="nav-1 footer-marquee">
      <div class="marquee">
        <h1>Jayshri Gayatri Food Products Pvt. Ltd. Milk Magic</h1>
        <img id="milk-magic-icon" src="/images/milk-magic-icon.webp" alt="">
      </div>
    </div>
    <!-- <div class="copyright">
      
      <h2>Copyright © 2024 www.ramjikisena.com- Developed & Maintained by I-NextEts</h2>
    </div> -->
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var registerBtn = document.getElementById("home-btn");
      var container = document.querySelector(".login-page");
      registerBtn.addEventListener("click", function (event) {
        event.preventDefault();
        container.scrollIntoView({ behavior: "smooth" });
      });
    });
  </script>
  <script src="/javascripts/navbar.js"></script>
  <script src="/javascripts/inviteFriends.js"></script>

</body>

</html>